.ExpDiv {
  display: flex;
  height: 25.125rem;
  flex-direction: column;
  justify-content: flex-end;
}

.ExpParagraph {
  margin: 0;
  width: 8rem;
  margin-top: 10px;
  font-weight: 600;
  user-select: none;
}
