.Container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.MapItems {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.GraphContainer {
  display: flex;
  height: 23rem;
  width: 100%;
}

.ResultMap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.Outer {
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: flex-end;
}

.Fill {
  width: 100%;
  background-color: blue;
  border: 1px solid black;
  border-radius: 5px;
  transition: 0.2s ease;
  box-sizing: border-box;
}

#AvarageDeflection {
  text-align: center;
  font-weight: 500;
  user-select: none;
  margin-top: 0.625rem;
}

.IdealResDivOuter {
  height: 277px;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
}

.IdealResDivInner {
  border: 2px solid red;
  border-radius: 5px;
  box-sizing: border-box;
  transition: 0.2s ease;
}
