.IdealResDivOuter {
  height: 274px;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
}

.IdealResDivInner {
  border: 2px solid red;
  border-bottom: none;
  border-radius: 2px;
  box-sizing: border-box;
  transition: 0.2s linear;
}
