.MainContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.FormContent {
  padding: 1rem;
  width: fit-content;
  display: flex;
  align-items: center;
}
.FormLabel {
  color: #86b7fc;
  font-size: 16px;
  font-weight: 700;
  padding-right: 0.5rem;
  user-select: none;
  width: fit-content;
  font-family: ml, Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;
}

.FormInput {
  font-size: 14px;
  width: 200px;
  height: 35px;
  border: none;
  user-select: none;
  background: #86b7fc;
  border-radius: 8px;
  outline: none;
}

.FormInput:focus {
  box-shadow: 0px 0px 5px #e5ce5c, 0px 0px 10px #86b7fc;
}

.SubmitButton {
  background-color: #183752;
  border: 4px solid #86b7fc;
  border-radius: 8px;
  padding: 3px 25px;  
  color: #86b7fc;
  transition-duration: 0.08s;
  font-weight: 600;
  font-size: 20px;
  user-select: none;
}

.SubmitButton:hover {
  background-color: #86b7fc;
  color: #183752;
}

.SubmitButton:active {
  background-color: white;
  border: 4px solid #86b7fc;
  color: #86b7fc;
}

#FormButtonDiv {
  display: flex;
  align-items: flex-end;
}

.Selector {
  padding: 16px;
  display:flex;
  align-items: center;
}

select {
  background-color: white;
  border-radius: 8px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.3125rem;
  transition: all 0.4s;
  outline: none;
}

select:focus {
  border-color: #183752;
}

option {
  font-weight: 600;
}
